<div class="col-10 offset-1">
  <h1 class="about">About Quotes! Quotes! Quotes!</h1>

  <br class="clear" />

  <p>
    <em>Quotes! Quotes! Quotes!</em> was built by <a target="_blank" href="http://github.com/mstop4">M.S.T.O.P.</a>
    Developer of games and full-stack web applications. Believes that the marriage of code, art, and music can create beautiful things.
  </p>
</div>

<br class="clear" />
<br/>
<br/>
<br/>
<br/>