<h2>
  <span>Quote / No. <%= @quote.id %></span>
  Here's the <u>best unsolicited startup advice</u> you can get!
</h2>

<br class="clear" />

<blockquote class="quote">
  <%= @quote.saying %>
  <footer class="float-right">
    — <%= @quote.author %>
  </footer>
</blockquote>

<br class="clear" />
<br />
<br />
<br />